body{
    background-color:rgb(4,29,49);
}
table{
    color:white;
    background-color:rgb(8,48,80);
    border-collapse: collapse;
    font-size: 16px;
    font-family: serif;
}
h1{
    text-align: center;
    color:white;

}
